@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  --font-poppins: var(--font-poppins);
  --font-mono: var(--font-mono);
}

:root {
  background: white;
  color: black;
}

@layer base {
  html, body {
    cursor: none !important;
  }

  @media (max-width: 1024px) {
    html, body {
      cursor: auto !important;
    }
    .fixed { display: block; } 
  }
  
  a, button, [role="button"] {
    cursor: none !important;
  }
}